<footer class="footer">
    <div class="footer__body container">
        <div class="footer__logo"><img src="img/logo.svg" width="151" height="37" alt=""></div>
        <nav class="footer__menu">
            <div class="container">
                <ul class="footer__list menuscroll">
                    <li><a href="#" class="footer__link">О компании</a></li>
                    <li><a href="#" class="footer__link">Клиенты</a></li>
                    <li><a href="#" class="footer__link">Отзывы</a></li>
                    <li><a href="#" class="footer__link">Кейсы</a></li>
                    <li><a href="#" class="footer__link">Цены</a></li>
                    <li><a href="#" class="footer__link">Контакты</a></li>
                </ul>
            </div>
        </nav>
        <a class="footer__btn" href="#">Заказать звонок</a>
    </div>
    <div class="footer__bottom container">
        <div class="footer__copy">
            <p>ООО &laquo;ЛОГО&raquo;. 133456, г. Москва, ул. 3-я Парковая, 10</p>
            <p>тел.: <a href="tel:81234567890">8-123-456-78-90</a>, <a href="tel:83216540001">8-321-654-00-01</a></p>
            <p><a href="mailto:info@koopwork.ru">info@koopwork.ru</a></p>
        </div>
        <div class="footer__socset socset">
            <a class="socset__link socset__link--vk" href="#"></a>
            <a class="socset__link socset__link--fb" href="#"></a>
            <a class="socset__link socset__link--insta" href="#"></a>
        </div>
    </div>
</footer>


