<!-- .header--page для внутрених страниц-->
<header class="header ">
    <div class="header__body container">
        <a class="header__logo" href="#"><img src="img/logo.svg" width="151" height="37" alt=""></a>
        <div class="header__burger">
            <span></span>
        </div>
        <nav class="header__menu">
            <div class="container">
                <ul class="header__list menuscroll">
                    <li><a href="#" class="header__link">О компании</a></li>
                    <li><a href="#" class="header__link">Клиенты</a></li>
                    <li><a href="#" class="header__link">Отзывы</a></li>
                    <li><a href="#" class="header__link">Кейсы</a></li>
                    <li><a href="#" class="header__link">Цены</a></li>
                    <li><a href="#" class="header__link">Контакты</a></li>
                </ul>
                <a class="header__btn" href="#">Заказать звонок</a>
            </div>
        </nav>
        <a class="header__btn" href="#">Заказать звонок</a>
    </div>
</header>

