<meta charset="UTF-8">

<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="Максим Карачёв">
<!-- Twitter Card data -->
<meta name="twitter:site" content="Максим Карачёв">
<meta name="twitter:title" content="HTML верстальщик">
<meta name="twitter:description" content="HTML верстальщик из Казахстана.">
<meta name="twitter:image" content="">

<!-- Open Graph data -->
<meta property="og:title" content="HTML верстальщик">
<meta property="og:type" content="article">
<meta property="og:url" content="">
<meta property="og:image" content="">
<meta property="og:description" content="">
<meta property="og:site_name" content="Максим Карачёв">

<meta name="apple-mobile-web-app-title" content="Karachyov Maxim">
<meta name="application-name" content="Karachyov Maxim">
